*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height:0.8;
}
.container{
    width: 1410px;
    margin:0 auto;
}
.bars i{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
/*------------------------------Navber Strat Here------------------------------*/
nav{
    padding: 30px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 555;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu ul{
    display: flex;
    column-gap: 72px;
    align-items: center;
    

}
.menu ul li a{
    font-size:18px ;
    font-weight: 600;
    line-height:auto ;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    transition: all linear 0.6s;
    
}
.menu ul li a:hover{
    color: #FF5538;
}
.common_btn{
    background-color: transparent;
    border: 1px solid #FF5538;
    padding: 14px 28px;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    color: #FF5538;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    transition: all linear 0.6s;
    display: inline-block;
}
.common_btn:hover{
    background-color: #FF5538;
    color: #fff;
}



/*------------------------------Navber end Here------------------------------*/


/*------------------------------banner start Here------------------------------*/
#banner{
    background-color: #FbF3F0;
    padding: 293px 0 297px 0;
    position: relative;
}
.banner_content{
    text-align: center;
    position: relative;
}
.banner_content h1{
    font-size:64px ;
    font-weight:700 ;
    line-height: 130%;
    font-family: 'Poppins', sans-serif;
    width: 711px;
    margin: 0 auto;
    text-transform: capitalize;
}
.banner_content p{
    font-size:18px ;
    font-weight:400 ;
    line-height: 200%;
    font-family: 'Nunito Sans', sans-serif;
    width: 547px;
    margin: 0 auto;
    text-transform: capitalize;
    padding-top: 24px;
    
}
.banner_btn{
    display: flex;
    column-gap: 24px;
    margin-top: 44px;
    justify-content: center;
}


.shape_1{
    position: absolute;
    left: 0;
    top: 0;
}
.shape_2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.shape_3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.shape_4{
    position: absolute;
    left: -110px;
    top: 0;
}
.shape_5{
    position: absolute;
    right: 50px;
    bottom: 0;
}


.shape_7{
    position: absolute;
    left:0;
    bottom:-150px;
}
.round_1{
    position: absolute;
    top: 110px;
    left: 40%;
    transform: translateX(-50%);
    width: 121.46px;
    height: 121.48px;
    border-radius: 50%;
    border: 2px solid #FFABBA;
    animation: round_1 3s linear infinite;
}
@keyframes round_1 {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
    
}
.round_1::after{
    position: absolute;
    content:"";
    left:50%;
    top:-12.5px;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    background-color:#FFABBA;
    border-radius: 50%;
}


/*------------------------------banner end Here------------------------------*/

/*------------------------------service start Here------------------------------*/
#service{
position: relative;
margin-top: 167px;
/*---top: -50%;
transform: translateY(-50%);---*/
}
.service_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.service_items{
    width: 450px;
    background-color:#fff;
    padding: 40px 30px;
    box-shadow: 0px -1px 7px -4px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px -1px 7px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px -1px 7px -4px rgba(0,0,0,0.54);
   
}
.service_items h3{
    font-size:28px ;
    font-weight:600 ;
    line-height:160% ;
    color:#29313D ;
    font-family: 'Poppins', sans-serif;
    padding-top: 34px;
    text-transform: capitalize;

}
.paragraph{
    font-size:18px ;
    font-weight:400 ;
    line-height:200% ;
    color:#29313D ;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 16px;
    text-transform: capitalize;
    
}
/*------------------------------service end Here------------------------------*/

/*------------------------------Experience start Here------------------------------*/
#experience{
    padding-top: 120px;
}

.sub_heading{
    color:#FF5538 ;
    font-size:20px ;
    font-weight:500 ;
    font-family:'Poppins', sans-serif ;
    line-height:140% ;
    text-transform: capitalize;
}
.heading{
    color:#29313D ;
    font-size:48px ;
    font-weight:600 ;
    font-family:'Poppins', sans-serif ;
    line-height:140% ;
    text-transform: capitalize;
    padding-top: 10px;
    width: 449px;
}
.experience_wrapper{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.experience_img{
    width: 45%;
    height: 520px;
    
}
.experience_content{
    width: 55%;
    height: 600px;
    background-color:#FBF3F0;
    padding: 100px 185px;
    position: relative;
}
.experience_img_box{
    position: relative;
    background-color: yellow;
    width: 110%;
    height: 100%;
    z-index: 555;
    overflow: hidden;
}
.experience_img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience_content h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 140%;
    font-family: 'Poppins', sans-serif;
    color: #29313D;
    width: 570px;
}
.experience_content p{
   padding-top: 20px;
   padding-bottom: 48px;
   width: 500px;
    
}
.experience_shape{
    position: absolute;
    right: 0;
    bottom: -200px;
}
/*------------------------------Experience end Here------------------------------*/

/*------------------------------work start Here------------------------------*/
#works{
    padding-top: 120px;
    position: relative;
    
    
    
}
.works_test{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.work_wrapper h4{

    color: #FF5538;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    line-height: 140%;
    margin-top: -10px;
    

}

.work_wrapper h3{
    width: 693px;
    color: #29313D;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
    text-transform: capitalize;
    line-height: 140%;
    
    
}
.work_wrapper_2{
    display: flex;
    align-items: center;
    column-gap: 25px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.work_item{
    width: 575px;
    box-shadow: 0px -1px 7px -4px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px -1px 7px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px -1px 7px -4px rgba(0,0,0,0.54);
}
.work_item:nth-child(2),.work_item:nth-child(3){
    width: 810px;
}
.work_item .work_img_box{
    height: 330px;
    width: 100%;
    background-color: red;
    /*margin-top: 30px;*/
    overflow: hidden;
}
.work_item .work_img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work_info{
    padding: 30px;
    background-color: #fff;
}
.work_info h3{
    font-size: 28px;
    line-height: 140%;
    font-weight: 600;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding-top: 10px;
    


}
.work_info a{
    font-size:18px ;
    line-height:100% ;
    color:#FF5538 ;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    
}
.work_shape{
    position: absolute;
    left: -7px;
    top: -219px;
}
/*------------------------------work end Here------------------------------*/

/*------------------------------counter start Here------------------------------*/
#counter{
    background-color:#FDF9F8 ;
    padding: 120px 0;
    margin-top: 120px;
    position: relative;
}
.counter_wrapper{
    display: flex;
    column-gap: 100px;
}
.counter_main{
    width: 550px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}
.counter_item{
    width: 260px;
    background-color: #fff;
    padding: 70px 60px;
    text-align: center;
   
}
.counter_item h3{
    font-size:40px ;
    font-weight: 600;
    line-height:140% ;
    color:#29313D ;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 8px;
}
.counter_item p{
    
    line-height:100% ;
    text-transform: capitalize;
    padding-top: 0;
}
.counter_content{
    width: 760px;
}
.counter_content h3{
    font-size:48px ;
    font-weight: 600;
    line-height:140% ;
    color:#29313D ;
    font-family: 'Poppins', sans-serif;
    width: 570px;
}
.counter_content p{
    padding: 20px 0 40px 0;
}
.counter_shape{
    position: absolute;
    right: 0;
    bottom: 0;
}
.round_2{
    position: absolute;
    top: 255px;
    left: -28px;
    transform: translateX(-50%);
    width: 238.46px;
    height: 238.48px;
    border-radius: 50%;
    border: 2px solid #FFABBA;
    animation: round_1 3s linear infinite;
}
@keyframes round_2 {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
    
}
.round_2::after{
    position: absolute;
    content:"";
    left:50%;
    top:-12.5px;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    background-color:#FFABBA;
    border-radius: 50%;
}

/*------------------------------counter end Here------------------------------*/

/*------------------------------company start Here------------------------------*/
#company{
    padding: 120px 0;
}
.company_heading{
    width:850px ;
    margin:0 auto ;
    padding-bottom: 60px;
}
.company_heading h3{
    font-size:48px ;
    font-weight: 600;
    line-height:140% ;
    color:#29313D ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.company_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.company_item{
    
    background-color: #FDF9F8;
    width: 210px;
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/*------------------------------company end Here------------------------------*/

/*------------------------------costomar start Here------------------------------*/
#costomar{
    padding: 120px 0;
    background-color: #FDF9F8;
}
.costomar_wrapper{
    display: flex;
    justify-content: space-between;
}
.costomar_info{
    width: 690px;
    
}
.costomar_info .company_heading{
    width: unset;
    margin: unset;
}
.costomar_info .company_heading h3{
    text-align: left;
    padding-top: 20px;
}
.costomar_img{
    width: 500px;
    height: 557px;
    border-radius: 30px;
    margin-right: 70px;
    overflow: hidden;
}
.costomar_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.costomar_main{
    display: flex;
    column-gap: 28px;
    
}
.costomar_item{
    width: 100%;
    height: 100%;
    
    border-radius: 20%;
    overflow: hidden;
    
}
.costomar_details p{
    font-size:20px ;
    font-weight:400 ;
    line-height:180% ;
    font-family: 'Nunito Sans', sans-serif;
    color: #29313D;
    margin-top: 60px;
}
.costomar_name h4{
    font-family: 'Open Sans', sans-serif;
    font-size:36px ;
    font-weight:600 ;
    line-height: 180%;
    color: #29313D;
    text-transform: capitalize;
    

}
.costomar_name{
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 61px;
}
.arrow_main{
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.arrow_item{
    width: 64px;
    height: 64px;
    background-color:#FFDDD7;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.6s;
}
.arrow_item:hover{
    background-color: #FF5538;
    color: #FFDDD7;
}
.arrow_item i{
    font-size: 20px;
}

.costomar_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*------------------------------costomar end Here------------------------------*/

/*------------------------------project start Here------------------------------*/
#project{
    background-color:#FFD7C8;
    padding: 100px 0;
    position: relative;
}
.project_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
    border-bottom: 1px solid #29313D;
}
.project_wrapper h5{
    font-size:20px ;
    font-weight:400 ;
    line-height:140% ;
    font-family: 'Poppins', sans-serif;
    color: #29313D;
    text-transform: capitalize;
    
}
.project_wrapper h3{
    font-size:48px ;
    font-weight:600 ;
    line-height:140% ;
    font-family: 'Poppins', sans-serif;
    color: #29313D;
    text-transform: capitalize;
    margin-top: 7px;
    
}
#project article p{
    font-size:20px ;
    font-weight:400 ;
    line-height:180% ;
    font-family: 'Nunito Sans', sans-serif;
    color: #29313D;
    margin-top: 24px;
    margin-right: 120px;
}
.project_shape{
    position: absolute;
    right: 0;
    top: 0;
}
/*------------------------------project end Here------------------------------*/


/*------------------------------footer start Here------------------------------*/
#footer{
padding-top: 140px;
padding-bottom: 57px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 212px;
}
.footer_details{
    width: 450px;
}
.footer_details p{
    padding-top: 44px;
    font-size:18px ;
    font-weight:400 ;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 180%;
}
.footer_heading{
    font-size:24px ;
    font-weight:600 ;
    color:#29313D ;
    line-height:140% ;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 48px;
}
.footer_list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.footer_list li{
    font-size: 20px;
    font-weight:600px ;
    line-height:120% ;
    color:#29313D ;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
}
.footer_list_wrapper{
    display: flex;
    column-gap: 160px;
}
.copyright{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.polecy{
    display: flex;
    gap: 60px;
    align-items: center;
}
.copyright p{
    font-size: 18px;
    font-weight: 400;
    color: #29313D;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 180%;
    text-transform: capitalize;
}
/*------------------------------footer end Here------------------------------*/